
@{
    ViewBag.Title = "Liên hệ";
}

<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" type="text/css" />
<hr />
<hr />
<div class="custom-breadcrumns border-bottom">
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">Liên hệ</h2>
                    <p>Thông tin liên hệ</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container contact_container">


    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <h3>Thông tin liên hệ</h3>
            <p>Tên: Huỳnh Anh Vũ</p>
            <p>SDT: 0328.953.710</p>
            <p>Email: vuhuynh1512001@gmail.com</p>
        </div>
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7516950748936!2d106.77240387460388!3d10.830304558198486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752701a34a5d5f%3A0x30056b2fdf668565!2zVHLGsOG7nW5nIENhbyDEkOG6s25nIEPDtG5nIFRoxrDGoW5nIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1692760749786!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



