@model  IEnumerable<TTTN_WEB_ASP.Models.EF.Category>
@if (Model != null && Model.Any())
{
    <div class="mr-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                @foreach (var item in Model)
                {
                    if (item.Alias.Equals("trang-chu"))
                    {
                        item.Alias = "";
                    }
                    if(!string.IsNullOrEmpty(item.Link))
                    {
                        item.Alias = item.Link;
                    }
                    <li class="active">
                        <a href="/@item.Alias" class="nav-link text-left">@item.Title</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}
